strong {
  font-weight: bold;
}

/* Body */
body {
  overflow-x: hidden;
  margin: 0;
}

/* Page wrapper */
.page-wrapper {
  display: flex;
  flex-direction: column;
}

/* Header */
.shipping {
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
  padding: 30px 0px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.header-list-items {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
}

.header-list-items li {
  list-style: none;
  justify-content: space-between;
  text-align: center;
  margin-right: 10px;
}

.header-list-items a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 25.78px;
}

.cart-list {
  list-style: none;
  display: flex;
}

.cart-list li {
  padding-left: 10px;
}

.cart-list li:last-of-type {
  padding-left: 40px;
  width: 50px;
  height: 50px;
}

.cart-items {
  margin-right: 45px;
  margin-bottom: 38px;
}

.items-in-cart {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 39px;
}

.items-in-cart-box {
  position: absolute;
  color: black;
  top: 9px;
  margin-left: 15px;
}

.items-in-cart-text {
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
}

.navigation-items {
  display: flex;
  flex-direction: row;
}

.winter-stock-div {
  position: relative;
}

.winter-stock-image {
  width: 100%;
}

.winter-stock-box {
  position: absolute;
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
  /* left: 4.4%;
  right: 67.48%;
  top: 21.35%;
  bottom: 21.09%; */
  width: 486px;
  height: 221px;
  top: 82px;
  left: 76px;
}

.winter-stock-text {
  font-family: "Rockwell";
  font-weight: 800;
  font-size: 55px;
  font-style: normal;
  color: white;
  line-height: 59px;
  align-items: center;
  text-align: center;
}

/* Product */
h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
}

.main {
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-div {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  justify-content: space-between;
}

.product-card {
  width: 800px;
  height: 800px;
}

.product-details {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: 900px;
}

.product-name {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 53px;
  align-items: center;
}

.product-designer {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 35.16px;
}

.product-description {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
}

.prices-and-buy {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

.old-price {
  color: #890000;
  text-decoration: line-through;
  font-size: 60px;
  font-weight: normal;
}

.current-price {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 100px;
}

.cart-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 594px;
  height: 106px;
}

.add-to-cart-button {
  text-transform: uppercase;
  background-color: #dbafae;
  color: white;
  width: 594px;
  height: 106px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
}

.load-more-div {
  display: flex;
  padding-top: 72px;
  justify-content: center;
}

.load-more-button {
  background-color: #dbafae;
  color: white;
  width: 594px;
  height: 106px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
}

/* Footer */
.solid {
  border: 1px solid;
  color: black;
}

.footer-text {
  text-align: center;
  font-family: "Racing Sans One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50.4px;
}

/* Images */
img {
  width: 100%;
}

/* Buttons */
button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: orange 5px auto;
}
