/* Body */
body {
  font-family: Roboto, sans-serif;
  overflow-x:hidden;
}

/* Page wrapper */
.page-wrapper {
  display: flex;
}

/* Header */
.shipping {
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
  padding: 30px 0px;
  font-size: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.header-list-items {
  display: flex;
  flex-direction: row;
  text-align: center;
  float: right;
}

.header-list-items li {
  list-style: none;
  justify-content: space-between;
  text-align: center;
  margin-right: 10px;
}

.header-list-items a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-list {
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: space-between;
}

.cart-list li:last-of-type {
  margin-left: 40px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.navigation-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.winter-stock {
  position: relative;
}

.winter-stock-image {
  position: absolute;
}

.winter-stock-sale {
  display: flex;
  background-color: black;
  opacity: 50%;
  position: absolute;
  left: 4.4%;
  right: 67.48%;
  top: 21.35%;
  bottom: 21.09%;
}

.winter-stock-text {
  font-family: 'Rockwell Extra Bold';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  color: white;
}

/* Images */
img {
  width: 100%;
}